<div class="limiter" xmlns="http://www.w3.org/1999/html">
  <div class="main">
    <div class="content">
      <div class="texts">
        <div class="labelTask" >
          <h2>{{responsText.content.nameExercises}}</h2>
        </div>
        <div class="levelF">
          <p>Уровень {{responsText.content.levelExercises}}</p>
        </div>
        <div class="textarea">
          {{responsText.content.textExercises}}
        </div>
      </div>
      <div class="compil">
        <textarea disabled></textarea>
      </div>
    </div>
  </div>
</div>
