<div class="limiter" xmlns="http://www.w3.org/1999/html">
  <div class="main">
    <div class="content">
      <form (submit)="EdPass($event)">
        <div class="wrap-input">
          <input class="input1 typ1" type="login"  placeholder="login" id="login">
          <input class="input1 typ2" type="password"  placeholder="Пароль" id="password">
          <input class="input1 typ2" type="password"  placeholder="Повторите пароль" id="cpassword">
        </div>
        <button class="myButtonR" type="submit" id="submit">Подтвердить</button>
      </form>
      <div class="error" *ngIf="ermass">
        <p> <fa-icon [icon]="faExclamationCircle"></fa-icon> {{ermass}}</p>
      </div>
      <div class="error" *ngIf="compmass">
        <p> <fa-icon [icon]="faCheckCircle"></fa-icon> {{compmass}}</p>
      </div>
    </div>
  </div>
</div>
