<div class="limiter">
  <div class="login-cont">
    <div class="wrap-login">
      <div class="login-form">
        <h1 class="login-title">
          Авторизация
        </h1>
        <form (submit)="loginUser($event)">
          <div class="wrap-input">
            <input class="input1 typ1"  placeholder="Логин" id="login">
            <input class="input1 typ2"  placeholder="Пароль" id="password">
          </div>
          <button class="myButtonL" type="submit" id="submit">Войти</button>

          <button class="myButtonR" onclick="document.location='/reg'" >Регистрация</button>
        </form>
        <div class="error" *ngIf="ermass">
          <p> <fa-icon [icon]="faExclamationCircle"></fa-icon> {{ermass}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
