<head>
  <title>COTA-portal Авторизация</title>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="751697380175 - 9glb0n13u6sa6jpus75sd65q71nf8rj2.apps.googleusercontent.com.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<div class="limiter">
  <div class="login-cont">
    <div class="wrap-login">
      <div class="login-form">
        <h1 class="login-title">
          Авторизация
        </h1>
        <form action="singin">
          <div class="wrap-input">
            <input class="input1 typ1" type="login"  placeholder="Логин" [(ngModel)]="user.login">
            <input class="input1 typ2" type="password"  placeholder="Пароль" [(ngModel)]="user.password">
          </div>
          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
          <button class="myButton" (click)="submit(user)"> Войти</button>

          <div *ngIf="done">
            <p>Zrada</p>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
