<body>
<div class="nb">
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a class="nav-link" href="/home">
          <fa-icon class="svg" [icon]="faDiceD20"></fa-icon>
          <span class="link-text logo-text">
            COTA
            Portal
          </span>
        </a>
      </li>

    <li class="logo">
      <a class="nav-link" href="/home">
        <fa-icon class="svg" [icon]="faDiceD20"></fa-icon>
        <span class="link-text logo-text">
          COTA
          Portal
        </span>
      </a>
    </li>

      <li class="logo">
        <a class="nav-link" href="/home">
          <fa-icon [icon]="faScroll"></fa-icon>
          <span class="link-text logo-text">
            Задачи
          </span>
        </a>
      </li>

      <li class="logo">
        <a class="nav-link" href="/topteams">
          <fa-icon [icon]="faTrophy"></fa-icon>
          <span class="link-text logo-text">
            Рейтинг команд
          </span>
        </a>
      </li>

      <li class="logo">
        <a class="nav-link" href="/about">
          <fa-icon [icon]="faBookDead"></fa-icon>
          <span class="link-text logo-text">
            О нас
          </span>
        </a>
      </li>

      <li class="logo">
        <a class="nav-link" href="/logout">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          <span class="link-text logo-text">
            Выход
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="dropdown">
  <button class="dropbtn"><fa-icon class="dropIcon" [icon]="faUser"></fa-icon></button>
  <div class="dropdown-content">
    <a href="/profil">{{UserName}}</a>
    <a href="/editpass">Изменить пароль</a>
  </div>
</div>
<main>
  <div class="content_color">
    <router-outlet></router-outlet>
  </div>
</main>
</body>
