<head>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="sidebar">
      <h2>Sidebar</h2>
      <ul>
        <fa-icon [icon]="faDiceD20"></fa-icon>
        <li><a href="#"><fa-icon [icon]="faDiceD20"></fa-icon>Home</a></li>
        <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
        <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
        <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
        <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
      </ul>
    </div>
    <div class="main_content">

    </div>
  </div>
  <router-outlet></router-outlet>
</body>



