<head><title>Регистрация</title></head>
<div class="limiter">
  <div class="login-cont">
    <form class="box" (submit)="registerUser($event)">
      <h1 class="login-title">
        Регистрация
      </h1>
      <div class="wrap-input">
        <input type="text"  placeholder="Логин" id="login">
        <input type="password"  placeholder="Пароль" id="password">
        <input type="password"  placeholder="Повторите пароль" id="cpassword">
        <div class="error" *ngIf="ermass">
          <p> <fa-icon [icon]="faExclamationCircle"></fa-icon> {{ermass}}</p>
        </div>
      </div>
      <button class="but" type="submit" id="submit">Зарегистрироваться</button>
      <button class="but" onclick="document.location='/auth'"> Авторизация </button>
    </form>
  </div>
</div>
