<body>
<div class="limiter">
  <div class="login-cont">
    <div class="wrap-login">
      <div class="login-form">
        <h1 class="login-title">
          Регистрация
        </h1>
        <div class="form">
          <div class="wrap-input">
            <input class="input1 typ1" type="login" min="10" max="100" placeholder="Логин" [(ngModel)]="user.login">
            <input class="input1 typ2" type="password" min="10" max="100" placeholder="Пароль" [(ngModel)]="user.password">
          </div>
          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
          <button class="myButton" (click)="submit(user)"> Регистрация</button>
          <div *ngIf="done">
            <div><p>Регистрация завершена!</p></div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
